.btn,.dropdown-item{
  font-size: 13px;
}
.user-info{
  margin: 5px 0 0 0;
}
.user-info ul li{
 display: inline-block;
 list-style: none;
 cursor: pointer;
 font-size:16px;
}
h3.logo{
  font-size: 21px;
  margin: 5px 0 0 0;
}
.main-header{
  border-bottom: 1px solid #ddd;
  border-top: 2px solid #ddd;
  margin-bottom: 11px;
  background: #f1f1f1;
}
